<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <p class="text-muted">
        <strong>About Gail Matrimonial Website!</strong><br>
        This matrimonial website will help our company employees to find their perfect match in tne company.
      </p>
      <p class="text-muted">
        We believe choosing a life partner is a big and important decision, and hence work towards giving a simple and secure matchmaking experience for you and your family. Each profile registered with us goes through a manual screening process before going live on site; we provide superior privacy controls for Free.
      </p>
      <p class="text-muted">
        You can register for Free and search according to your specific criteria on age, location,State and much more- on your computer, tablet or mobile.
      </p>
    </div>
  </footer>
  