<%- include ('partials/header') %>
<div class="jumbotron text-center">
  <h1 class="display-4">Welcome to the GAIL Matrimonial Site!</h1>
  <p class="lead">Find your perfect match among company employees.Register here!</p>
  <a href="/register" class="btn btn-primary btn-lg">Register</a>
  <a href="/login" class="btn btn-secondary btn-lg">Login</a>
</div>
<%- include('partials/footer')  %>